/* 
# --------------------
# Page Setup 
# -------------------- 
*/
/* fix page width */
#wrapper {
  margin: 0 auto;
  max-width: 900px; 
  padding-left: 10px;
  padding-right: 10px;
}

/* page margin top */
.main {
  margin-top: 70px; /* Add a top margin to avoid content overlay */
}

/* 
# --------------------
# Button
# -------------------- 
*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none;  /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e91e63; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  /* padding: 15px; Some padding */
  padding: 0px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  /* below code makes the button circular */
  width:50px;
  height:50px;
  border-radius: 50%;
  box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
  text-align:center;
  text-decoration:none;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* 
# --------------------
# Header 
# -------------------- 
*/
.headercontainer {
  display: flex;
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url(images/brainheader-darkened.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-blend-mode: darken;
  font-family: sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
}

/* header text */
.headertext {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
# --------------------
# Navbar
# -------------------- 
*/
.navbar {
  overflow: hidden;
  box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
  background-color: #FFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 70px;
  z-index: 9999;
}

/* Image inside navbar */
.navbar img {
  float: left;
  height: 50px;
  width: auto;
  padding-top: 10px;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #3C4858 !important;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  text-decoration: none;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

/* Change anchor background color on mouse-over */
.navbar a:hover {
  color: #e91e63 !important;
}

/* 
# --------------------
# Classes 
# -------------------- 
*/

/* figure style class */
.stylefig {
  text-align:center;
  max-width:750px;
  margin-left:auto;
  margin-right:auto;
}

/* table style class
.styletable  {
  text-align:center;
  border-collapse: collapse;
  border: none;
  max-width: 100%;
} */

/* img style class */
img.imgcenter100{
  width: 100%;
  text-align: center;
}

/* 
# --------------------
# Body 
# -------------------- 
*/

body {
  padding: 0em;
  margin: 0em;
  font-size: 1.3em;
  color: #555;
  background-color: white;
  overflow: auto;
  word-wrap: break-word; /* breaks long strings */
  line-height: 1.4;
}
body > :first-child,
body > div.update-preview > :first-child {
  margin-top: 0;
}
body > p,
body > div.update-preview > p {
  margin-top: 0;
  margin-bottom: 1.5em;
}
body > ul,
body > div.update-preview > ul,
body > ol,
body > div.update-preview > ol {
  margin-bottom: 1.5em;
}

/* 
# --------------------
# Headers 
# -------------------- 
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  color: #030303;
}
h1 {
  font-size: 1.8em;
  font-weight: 300;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
}
h3 {
  font-size: 1.4em;
  font-weight: 400;
}
h4 {
  font-size: 1.2em;
  font-weight: 400;
}
h5 {
  font-size: 1.1em;
  font-weight: 600;
}
h6 {
  font-size: 1em;
  font-weight: 600;
}

/* 
# --------------------
# Links 
# -------------------- 
*/
a {
  color: var(--hnn-violet);
}
a:visited {
  color: var(--hnn-violet);
}
a:hover {
  color: var(--hnn-purple);
}
a:active {
  color: var(--hnn-purplel);
}

/* 
# --------------------
# Table 
# -------------------- 
*/
table {
  margin: 1.5em 0; 
  text-align:center;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
  max-width: 100%;
  background-color: transparent;
}

td, tr {
  padding: 0.66em 1em;
  border: none;
}
td {
  vertical-align: top;
}

/* 
# --------------------
# Code 
# -------------------- 
*/
/* Inline code (single backtick) */
code {
  color: var(--hnn-violet);
  background-color: #f6f8fa;
  display: inline;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace; 
  font-weight: normal;
  border: 1px solid #e1e4e8;
}

/* Block code (triple backticks) */
pre code {
  color: #24292e;
  background-color: #f6f8fa;
  display: block;
  padding: 16px;
  overflow-x: auto;
  border-radius: 6px;
  font-size: 85%;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  border: 1px solid #e1e4e8; /* Consistent border style */
}

/* 
# --------------------
# Lists 
# -------------------- 
*/
ul.contains-task-list li.task-list-item {
  position: relative;
  list-style-type: none;
}
ul.contains-task-list li.task-list-item input.task-list-item-checkbox {
  position: absolute;
  transform: translateX(-100%);
  width: 30px;
}

/* 
# --------------------
# Custom HNN colors 
# -------------------- 
*/
.hnn-blue {
  color: #1156A3;
 }
 
 :root {
  --hnn-blue: #1156A3;
 }
 
 .hnn-purple {
  color: #474095;
 }
 
 :root {
  --hnn-purple: #474095;
 }
 
 .hnn-violet {
  color: #812A89;
 }
 
 :root {
  --hnn-violet: #812A89;
 }
 
 .hnn-yellow {
  color: #e5a734;
 }

/* 
# --------------------
# Extras 
# -------------------- 
*/
/* page break */
hr {
  margin: 3em 0;
  border-top: 2px dashed #d6d6d6;
  background: none;
}

/* strikethrough tag */
del { 
  text-decoration: none;
  position: relative;
}

.emoji {
  max-width: 1em !important;
}

blockquote {
  margin: 1.5em 0;
  font-size: inherit;
  color: #7e7e7e;
  border-color: #d6d6d6;
  border-width: 4px;
}

strong {
  color: #030303;
}

del {
  color: #7e7e7e;
}

img {
  max-width: 100%;
  height: auto;
}

/* line spacing for table of contents */
h2#tutorial-table-of-contents + ol {
  line-height: 0.8 !important; /* Ensure OL following the H2 is single spaced */
}